BLE_SERVICE_UUID=B64:MDAwMGZmNDAtMDAwMC0xMDAwLTgwMDAtMDA4MDVmOWIzNGZi
BLE_WRITE_UUID=B64:MDAwMGZmNDEtMDAwMC0xMDAwLTgwMDAtMDA4MDVmOWIzNGZi
BLE_NOTIFY_UUID=B64:MDAwMGZmNDItMDAwMC0xMDAwLTgwMDAtMDA4MDVmOWIzNGZi
BLE_DEVICE_NAME=B64:WUNZLUZKQi0wMw==
AI_API_KEY=B64:YjAyZTU2NmYxYjM0NDkwMWEzNDkxZWZiMTQ2OWFmNDYubVBiMUdMNFpZTXZ1dHIzcw==
AI_BASE_URL=B64:aHR0cHM6Ly9vcGVuLmJpZ21vZGVsLmNuL2FwaS9wYWFzL3Y0
AI_MODEL=B64:Z2xtLTQtZmxhc2g=
